* {
  font-family: Helvetica;
  color:#4A5C26;
  text-decoration:none;
}

div.rounded {
  border-radius: 10px;
}



div.header {
  background-color:#B2CC80;
  width:100%;
  height:100px;
  margin-top:10px;
  padding:1px 15px 15px 15px;
}
div.header h1 {
  font-size:35px;
  margin:15px 0px 0px 0px;
}
div.header div.navigation {
  height:20px;
  margin-top:8px;
}
div.header div.navigation div.item {
  background-color:#94B84D;
  padding:5px;
  float:left;
  margin-left:30px;
}

div.header div.navigation div.item:hover {
  color:#ffffff;
}

div.header div.navigation div.item.active {
  font-weight:bold;
}

div.header div.navigation div.item:active {
  background-color:#4A5C26;
}

div.content {
  background-color:#eeeeee;
  width:100%;
  min-height: 200px;
  margin-top:30px;
  padding:15px;
}
div.content h2 {
  margin:0px;
}
div.wrapper {
  width: 700px;
  margin: 0 auto;
}

div.discount {
    background-color: #dddddd;
    padding:15px;
    margin-top:15px;
    margin-bottom:15px;
}

div.discount h3 {
    margin:0px;
}
